aesara==2.9.4
aio_pika==9.6.2
aioredis==2.0.1
amdsmi==7.0.2
AppKit==0.2.8
asgiref==3.11.1
attr==0.3.2
authlib==1.7.2
blobfile==3.2.0
brotli==1.2.0
brotlicffi==1.2.0.1
capturer==3.0
cffi==2.0.0
checks==0.2
clr==1.0.3
cog==0.19.3
ConfigParser==7.2.0
contextlib2==21.6.0
controlnet_aux==0.0.10
coremltools==9.0
coverage==7.14.0
ctypes_snappy==1.03
cubinlinker==0.0.1
cupy==14.0.1
cutlass==0.4.0
Cython==3.2.4
deeplearning==0.0.1
defusedxml==0.7.1
diffusers==0.38.0
dill==0.4.1
dl==0.1.0
docutils==0.22.4
dp==1.00
email_validator==2.3.0
eole==0.5.2
etcd==2.0.8
eval_type_backport==0.3.1
exceptiongroup==1.3.1
expecttest==0.3.0
fastai==2.8.7
fastapi==0.136.1
fastparquet==2026.3.0
fb==0.4.0
fbscribelogger==0.1.7
flashlight==0.1.1
flint==0.0.1
foo==.1
Foundation==0.1.0a0.dev1
gevent_websocket==0.10.1
gmpy2==2.3.0
gradio==6.14.0
graphviz==0.21
h2==4.3.0
helion==1.0.0
HTMLParser==0.0.2
hypothesis==6.152.7
importlib_resources==7.1.0
ini2toml==0.15
input==0.0.0
ipykernel==7.2.0
ipython==8.12.3
ipywidgets==8.1.8
isal==1.8.0
jiwer==4.0.0
jnius==1.1.0
kafka==1.3.5
kerchunk==0.2.10
keyring==25.7.0
kombu==5.6.2
librosa==0.11.0
lief==0.17.6
lxml==6.0.2
lz4==4.4.5
lzmaffi==0.3.0
matchpy==0.5.5
mcp==1.27.1
ml_dtypes==0.5.4
monkeytype==23.3.0
monotonic==1.6
moviepy==2.2.1
mpi4py==4.1.1
mtrand==0.1
multiset==3.2.0
nbformat==5.10.4
objgraph==3.6.2
olefile==0.47
onnx_graphsurgeon==0.6.1
onnx_ir==0.2.1
onnxruntime_extensions==0.15.2
onnxscript==0.7.0
opencv_python==4.10.0.82
optimum==2.1.0
optree==0.19.1
outcome==1.3.0.post0
pandas==3.0.3
paramiko==5.0.0
path.py==12.5.0
pexpect==4.9.0
pkg1==0.0.3
polygraphy==0.49.26
psutil==7.2.2
pulp==3.3.1
pwlf==2.5.2
py==1.11.0
py2exe==0.14.0.0
py3nvml==0.2.7
pyarrow==24.0.0
pycosat==0.6.6
pycute==0.1.0
pydub==0.25.1
pydy==0.9.4
pyelftools==0.32
pygit2==1.19.2
pyglet==2.1.14
pygraphviz==1.14
PyInstaller==6.20.0
pyinstrument==5.1.2
pymc==6.0.0
pymc3==3.11.6
pynvml==13.0.1
pyodide==0.0.2
PyOpenGL==3.1.10
pyOpenSSL==26.2.0
PyQt5==5.15.11
PyQt6==6.11.0
pysat==3.2.2
PySide6==6.11.1
pytest_subtests==0.15.0
python-dotenv==1.2.2
python_bcrypt==0.3.2
pytorch_lightning==2.6.1
pytz==2025.1
pywin32==311
qtpy==2.4.3
Quartz==0.0.1.dev0
r2pipe==1.9.8
railroad==0.5.0
redis==7.4.0
requests_kerberos==0.15.0
rubicon==0.0.0
safetensors==0.7.0
sage==0.0.0
scipy_doctest==2.2.0
screen_brightness_control==0.27.0
sentencepiece==0.2.1
setuptools_scm==10.0.5
simplejson==4.1.1
slack_sdk==3.41.0
smbprotocol==1.16.1
sniffio==1.3.1
socksio==1.0.0
starlette==1.0.0
symengine==0.14.1
tabulate==0.10.0
tensorboardX==2.6.5
tf2onnx==1.17.0
theano==1.0.5
threadpoolctl==3.6.0
toml==0.10.2
tomli_w==1.2.0
torch_xla==2.9.0
torchcodec==0.11.1
torchrec==1.6.0
torchvision==0.27.0
trove_classifiers==2026.5.7.17
ujson==5.12.1
urllib3_secure_extra==0.1.0
uvloop==0.22.1
uwsgi==2.0.31
valkey==6.1.1
verboselogs==1.7
watchdog==6.0.0
websocket_client==1.9.0
winloop==0.6.3
Xlib==0.21
xmlrpclib==1.0.1
xmlrunner==1.7.7
xx==4.0.0
yarl==1.23.0
z3==0.2.0
zstandard==0.25.0
